@page "/Pages/Login"
@attribute [AllowAnonymous]
@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager Nav


<PageTitle>Login</PageTitle>

<h1>Login Demo</h1>

<div>Testing login</div>