@page "/Pages/Signup"

@attribute [AllowAnonymous]
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager Nav

<PageTitle>Signup</PageTitle>

<h1>Signup Demo</h1>

<div>Test test 123</div>